h3 {
    font-family: "jura";
    font-size: 25pt;
}

@font-face {
    font-family: "jura";
    src: url(../../../../../public/assets/fonts/Jura/static/Jura-SemiBold.ttf);
}

.layout {
    display: flex;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}