<div class="profile-card btn btn-dark text-white w-auto" ngbDropdown>
  <div class="d-flex profile-text" ngbDropdownToggle style="gap: 1rem; cursor: pointer;">
    <div>
      <div class="name">{{ user?.username || 'Cargando...' }}</div>
    </div>
  </div>

  <div ngbDropdownMenu class="mt-2 dropdown-menu-right">
    <button class="dropdown-item text-white" (click)="viewProfile()"><i class="bi bi-person-fill"></i> Ver perfil</button>
    <button class="dropdown-item text-danger" (click)="logout()"><i class="bi bi-power"></i> Salir</button>
  </div>
</div>