<div class="layout">
    <app-nav class="colorFondo ancho" *ngIf="rolUsuario === 'ADMIN'"></app-nav>
    <app-nav-user class="colorFondo ancho" *ngIf="rolUsuario === 'USER'"></app-nav-user>
    <main>
        <app-card-user-line class="me-3"></app-card-user-line>
        <div class="card position-relative marginDe" #cardContainer>
            <div class="d-flex align-items-center px-3 pt-2">
                <h5 class="mb-2 me-auto"   [routerLink]="['/detailPet', publicacion?.getMascotaDTOName?.id]" >{{ '@' + publicacion?.getMascotaDTOName?.nombre }}</h5>
                <p class="mb-0 text-muted ms-2" style="font-size: 0.9rem;">{{ publicacion?.fechaRegistro }}</p>
                <div class="d-flex align-items-center">
                    <div ngbDropdown class="d-inline-block ms-2">
                        <button class="btn btn-sm btn-white text-dark" id="dropdownMenuButton" ngbDropdownToggle
                            style="min-width: 30px;">
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownMenuButton" class="dropdown-menu-end">
                            <button class="dropdown-item text-danger btn-white" (click)="abrirModalEliminarPublicacion()">
                                <i class="bi bi-trash-fill me-2"></i> Eliminar publicación
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="mostrarComentarios" class="overlay-comentarios" (click)="$event.stopPropagation()">
                <div *ngFor="let comentario of publicacion?.comentarioDTOList">
                    <p class="mb-1">
                        <strong>{{comentario.userDTO.username}}</strong>: {{comentario.texto}}
                    </p>
                    <hr class="my-1">
                </div>
                <button (click)="toggleComentarios()" class="btn btn-sm btn-secondary w-100 mt-2">
                    Cerrar comentarios
                </button>
            </div>

            <img *ngIf="publicacion"
                [src]="getImage(publicacion.imageURL)"
                [ngClass]="{'img-card': true, 'img-opaca': mostrarComentarios}"
                alt="Publicación de la mascota" />

            <div class="card-body">
                <p class="card-text">{{publicacion?.descripcion}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div (click)="alternarLike()" class="icon-text">
                        <i
                            [ngClass]="{
          'bi bi-heart-fill text-danger': publicacion?.hasLike,
          'bi bi-heart text-dark': !publicacion?.hasLike
        }"></i>
                        <span>{{ publicacion?.numeroLikes }}</span>
                    </div>

                    <div class="icon-text" (click)="toggleComentarios()">
                        <i class="bi bi-chat-dots-fill"></i>
                        <span>{{publicacion?.numeroComentarios}}</span>
                    </div>
                </div>
            </div>

            <div
                *ngIf="mostrarComentarios"
                class="overlay-comentarios p-3 rounded shadow-sm bg-white">
                <button
                    type="button"
                    class="btn-close position-absolute top-0 end-0 me-3 mt-1"
                    aria-label="Cerrar"
                    (click)="toggleComentarios()"></button>

                <div
                    [ngClass]="{'comentarios-scroll': tieneMuchosComentarios()}" class="mt-4">
                    <div
                        *ngFor="let comentario of publicacion?.comentarioDTOList"
                        class="d-flex justify-content-between align-items-center mb-2">
                        <div class="mb-4">
                            <p class="tamayousrname">{{'@' + comentario.userDTO.username}}</p>
                            <p>{{comentario.texto}}</p>
                        </div>
                        <div
                            class="btn-group btn-group-sm"
                            role="group"
                            aria-label="Acciones comentario">
                            <button class="btn" title="Editar comentario" (click)="editarComentario(comentario)">
                                <i class="bi bi-pen-fill fs-5"></i>
                            </button>
                            <button
                                class="btn text-danger"
                                title="Eliminar comentario"
                                (click)="abrirModalEliminarComentario(comentario)">
                                <i class="bi bi-trash-fill fs-5"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <hr />

                <form (submit)="manejarComentario()">
                    <div class="input-group">
                        <input
                            [(ngModel)]="nuevoComentario"
                            name="nuevoComentario"
                            type="text"
                            class="form-control"
                            placeholder="Escribe o edita un comentario..."
                            required />
                        <button class="btn btn-dark" type="submit">
                            {{ comentarioEditando ? 'Guardar' : 'Enviar' }}
                        </button>
                        <button
                            *ngIf="comentarioEditando"
                            class="btn btn-outline-secondary"
                            type="button"
                            (click)="cancelarEdicion()">
                            Cancelar
                        </button>
                    </div>
                </form>

            </div>

        </div>

    </main>
</div>

<ng-template #confirmDeleteModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-danger">Confirmar Eliminación</h5>
            <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <p>¿Estás seguro que deseas eliminar este comentario?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="confirmarEliminarComentario()">Eliminar</button>
        </div>
    </div>
</ng-template>

<ng-template #confirmDeletePublicacionModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-danger">Confirmar Eliminación de Publicación</h5>
            <button type="button" class="btn-close" aria-label="Cerrar" (click)="modal.dismiss()"></button>
        </div>
        <div class="modal-body">
            <p>¿Estás seguro que deseas eliminar esta publicación?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="confirmarEliminarPublicacion()">Eliminar</button>
        </div>
    </div>
</ng-template>
