<div class="layout">
    <app-nav class="colorFondo ancho"></app-nav>
    <main>
        <app-card-user-line class="me-3 position-absolute end-0"></app-card-user-line>
        <div class="d-flex marginDe">
            <h3 class="ms-3">Mascotas</h3>
            <div class="search ms-auto me-4">
                <input type="text" class="searchTerm ms-2" placeholder="Buscar..." />
                <button type="submit" class="searchButton">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <app-card-pet></app-card-pet>
    </main>
</div>
