<div class="layout">
    <app-nav class="colorFondo ancho"></app-nav>
    <main>
        <app-card-user-line class="me-3"></app-card-user-line>
        <div *ngIf="mostrarToast"
            class="alert alert-success alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x text-center"
            role="alert" style="z-index: 1055; margin-top: 20px; margin-left: 60px; min-width: 300px;">
            ¡Raza añadida correctamente!
            <button type="button" class="btn-close" aria-label="Close" (click)="mostrarToast = false"></button>
        </div>

        <div *ngIf="mostrarError"
            class="alert alert-danger alert-dismissible fade show position-fixed top-0 start-50 translate-middle-x text-center"
            role="alert" style="z-index: 1055; margin-top: 20px; margin-left: 60px; min-width: 300px;">
            No se pudo guardar.
            <button type="button" class="btn-close" aria-label="Close" (click)="mostrarError = false"></button>
        </div>

        <div class="d-flex marginDe">
            <h3 class="ms-4">Razas</h3>
            <i class="bi bi-plus-circle-fill ms-3 mt-1"
                title="Agregar nueva raza"
                (click)="openModal()">
            </i>
            <div class="search ms-auto me-4">
                <input type="text" class="searchTerm ms-2" placeholder="Buscar..." [(ngModel)]="searchTerm" />
                <button type="submit" class="searchButton">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
        <app-card-breeds [searchTerm]="searchTerm"></app-card-breeds>
    </main>

</div>
<ng-template #breedModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Nueva Raza</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
            <form [formGroup]="breedForm" (ngSubmit)="guardarRaza(modal)">
                <div class="mb-3">
                    <label for="breedName" class="form-label">Nombre</label>
                    <input
                        id="breedName"
                        type="text"
                        formControlName="nombre"
                        class="form-control"
                        [ngClass]="{'is-invalid': breedForm.get('nombre')?.touched && breedForm.get('nombre')?.invalid}" />

                    <div class="invalid-feedback"
                        *ngIf="breedForm.get('nombre')?.touched && breedForm.get('nombre')?.hasError('required')">
                        El nombre es obligatorio.
                    </div>

                   <div class="invalid-feedback" *ngIf="breedForm.get('nombre')?.touched && breedForm.get('nombre')?.hasError('taken')">
                Esta raza ya existe.
                    </div>

                </div>

                <button type="submit" class="btn btn-dark">Guardar</button>
            </form>
        </div>
    </div>
</ng-template>