<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-light text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form (ngSubmit)="loginUser()">
                            <img class="w-32 mx-auto" src="/assets/logo.png" alt="logo">
                            <p class="text-dark mb-5">¡Por favor, introduza su usuario y contraseña!</p>

                            <div *ngIf="errorMessage" class="alert alert-danger text-dark py-2 mb-4" role="alert">
                                {{ errorMessage }}
                            </div>

                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="text" id="typeUsername" class="form-control form-control-lg" placeholder="Usuario"
                                    [(ngModel)]="username" name="username" required />
                            </div>

                            <div data-mdb-input-init class="form-outline form-white mb-4">
                                <input type="password" id="typePasswordX" class="form-control form-control-lg"
                                    placeholder="*********" [(ngModel)]="password" name="password" required />
                            </div>

                            <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-dark btn-lg px-5"
                                type="submit">Entrar</button>
                        </form>

                        <div class="mt-3">
                            <a routerLink="/registrar" class="text-dark fw-bold">¿Aún no tienes cuenta?
                                Registrar</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
