 <div class="d-flex flex-wrap gap-3 justify-content-between ms-3">
    @for (mascota of mascotas; track mascota.id) {
    <div class="card mt-3">
        <div class="card-body">
            <img
                [src]="getAvatarUrl(mascota)"
                alt="{{ mascota.nombre }}"
                style="max-width: 100px; height: auto;">
        </div>
    </div>
    }
</div>

<ngb-pagination
    class="d-flex justify-content-center mt-5"
    [collectionSize]="elementosEncontrados"
    [(page)]="page"
    [boundaryLinks]="true"
    [pageSize]="tamanioPagina"
    (pageChange)="onPage($event)">
</ngb-pagination>