@font-face {
    font-family: "jura";
    src: url(../../../../public/assets/fonts/Jura/static/Jura-Bold.ttf);
}


.gradient-custom {
    background: linear-gradient(to right,
            rgba(87, 146, 223, 0.6) 10%,
            rgba(42, 157, 143, 0.6) 50%);
}

.text-danger {
    color: #dc3545;
}

h1,
h2,
p,
a {
    font-family: "jura", sans-serif;
}