<div class="d-flex flex-column justify-content-center align-items-center altura  vh-100 gradient-custom text-center px-4">
    <div class="bg-white rounded-2">
        <h1 class="text-danger fw-bold mt-5">404</h1>
        <h2 class="fw-semibold fs-2">¡Página no encontrada!</h2>
        <p class="text-dark fs-5 mb-4 ms-5 me-5">
            Lo sentimos, la página que buscas no existe o fue movida.
        </p>
        <a routerLink="/" class="btn btn-dark px-4 py-2 rounded-pill mb-5">
            Volver al inicio
        </a>
    </div>

</div>
