.card {
    width: 400px;
    background-color: #FAF7F3;
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    font-family: "jura";
}

.card-title {
    font-family: "jura";
}


@font-face {
    font-family: "jura";
    src: url(../../../../../public/assets/fonts/Jura/static/Jura-SemiBold.ttf);
}