 <div class="d-flex flex-wrap gap-3 justify-content-start ms-3">
    @for (user of users; track user.id) {
    <div class="card mt-3 me-4">
        <div class="card-body">
            <div class="position-absolute  me-3">
                <div class="position-absolute me-3">
                    @if (user.enable) {
                    <i class="bi bi-toggle-on toggle-enabled"></i>
                    } @else {
                    <i class="bi bi-toggle-off toggle-disabled"></i>
                    }
                </div>
            </div>
            <div class="position-absolute end-0 me-3" ngbDropdown>
                <button class="btn btn-link text-dark p-0" ngbDropdownToggle></button>
                <div ngbDropdownMenu>
                    <button class="dropdown-item" (click)="abrirModalEdicion(user)">Editar</button>
                    <button class="dropdown-item text-danger" (click)="abrirModalDeEliminar(user)">Eliminar</button>
                </div>
            </div>
            <p class=" text-center ">{{user.username}}</p>

            <p class="textMascotas">
                Mascotas:
                @if (user.mascotaDTOList.length === 0) {
                No tiene mascotas
                } @else {
                @for (mascota of user.mascotaDTOList; track mascota.id; let i = $index) {
                @if (i < 3) {
                {{ mascota.nombre }}
                @if (i < user.mascotaDTOList.length - 1 && i < 2) {
                ,
                }
                }
                @if (i === 2 && user.mascotaDTOList.length > 3) {
                ...
                }
                }
                }
            </p>

            <p class="textMascotas text-capitalize">
                Rol: {{ user.roles[0].slice(0, 1).toUpperCase() + user.roles[0].slice(1).toLowerCase() }}
            </p>
        </div>
    </div>
    }
</div>

<ngb-pagination
    class="d-flex justify-content-center mt-5"
    [collectionSize]="elementosEncontrados"
    [(page)]="page"
    [boundaryLinks]="true"
    [pageSize]="tamanioPagina"
    (pageChange)="onPage($event)">
</ngb-pagination>

<ng-template #editUserModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar Usuario</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
            <form (ngSubmit)="editarUsuario(modal)">
                <div class="mb-3">
                    <label for="editBreedName" class="form-label">Email</label>
                    <input
                        type="email"
                        id="edituserEmail"
                        [(ngModel)]="userEnEdicion.email"
                        name="editUserEmail"
                        class="form-control"
                        required>
                    <label for="editBreedName" class="form-label">Contraseña</label>
                    <input
                        type="password"
                        id="editUserPass"
                        [(ngModel)]="userEnEdicion.password"
                        name="password"
                        class="form-control"
                        required>
                    <label for="editUserPass" class="form-label">Verificar contraseña</label>
                    <input
                        type="password"
                        id="editUserVerifyPass"
                        [(ngModel)]="userEnEdicion.verifyPassword"
                        name="editUserVerifyPass"
                        class="form-control"
                        required>
                </div>
                <button type="submit" class="btn btn-dark">Guardar</button>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #confirmDeleteModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-danger">Confirmar Eliminación</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
            <p>¿Estás seguro que quieres eliminar el usuario <strong>{{userEnEliminacion?.username}}</strong>?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="confirmarEliminar()">Eliminar</button>
        </div>
    </div>
</ng-template>