<div class="row ms-3 g-3">
    @for (raza of razas; track raza.id) {
    <div class="col-12 col-sm-3 col-md-3 col-lg-3">
        <div class="card">
            <div class="card-body position-relative">
                <div class="position-absolute end-0 me-3" ngbDropdown>
                    <button class="btn btn-link text-dark p-0" ngbDropdownToggle></button>
                    <div ngbDropdownMenu>
                        <button class="dropdown-item" (click)="abrirModalEdicion(raza)">Editar</button>
                        <button class="dropdown-item text-danger" (click)="abrirModalDeEliminar(raza)">Eliminar</button>
                    </div>
                </div>
                <p class="mt-3 text-center">{{raza.nombre}}</p>
            </div>
        </div>
    </div>
    }
</div>

<ngb-pagination
    class="d-flex justify-content-center mt-5"
    [collectionSize]="elementosEncontrados"
    [(page)]="page"
    [boundaryLinks]="true"
    [pageSize]="tamanioPagina"
    (pageChange)="onPage($event)">
</ngb-pagination>

<ng-template #editBreedModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Editar Raza</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Cerrar"></button>
        </div>

        <div class="modal-body">
            <form (ngSubmit)="editarRaza(modal)">
                <div class="mb-3">
                    <label for="editBreedName" class="form-label">Nombre</label>
                    <input
                        type="text"
                        id="editBreedName"
                        [(ngModel)]="razaEnEdicion.nombre"
                        name="nombre"
                        class="form-control"
                        required>
                </div>
                <button type="submit" class="btn btn-dark">Guardar</button>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #confirmDeleteModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-danger">Confirmar Eliminación</h5>
            <button type="button" class="btn-close" (click)="modal.dismiss()" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
            <p>¿Estás seguro que quieres eliminar la raza <strong>{{razaEnEliminacion?.nombre}}</strong>?</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="confirmarEliminar(modal)">Eliminar</button>
        </div>
    </div>
</ng-template>
